**/bin
**/obj
**/.vs
**/.vscode
**/.git
**/.gitignore
**/*.*proj.user
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
